*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  

  }

.items {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.wallpaper {
  position: relative;
}

.wallpaper img {
  margin: 40px;
}


.icon-sx i,
.icon-dx i {
  font-size: 80px;
  cursor: pointer;
}

.wallpaper .slider {
  position: absolute;
  transform: translateX(-50%);
  bottom: 10%;
  left: 50%;
  width: 200px;
  padding: 15px;
  background-color: rgba(0,0,0,0.70);
  border-radius: 30px;
}

.circlebox {
 display: flex;
 justify-content: center;
  
}

.circle{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
}


.none {
  display: none;
}

.active {
  display: block;
}

.active2 {
  background-color: blue;
}


